/* Основные настройки страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #141414; /* Светло-серый фон для всей страницы */
    color: #333; /* Темный текст для удобочитаемости */
    margin: 0;
    padding: 0;
}

/* Стили для контейнера */
.main-container {
    display: flex;
    flex-direction: column; /* Вертикальная ориентация */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    height: calc(100vh - 50px); /* Занимает всю высоту экрана минус высота навигационной панели */
    text-align: center; /* Центрирует текст */
    gap: 20px; /* Расстояние между элементами */
    /*margin: 0; !* Убираем отступы *!*/
}

/* Заголовок страницы */
.main-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff; /* Синий цвет, чтобы подчеркнуть заголовок */
    text-align: center;
    margin-bottom: 20px;
}

/* Основной текст */
.main-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666; /* Нейтральный оттенок для текста */
    text-align: center;
    margin-bottom: 40px;
}

/* Отступы для верхнего блока */
.mt-4 {
    margin-top: 1.5rem;
}
