/* src/components/ChatCard.css */

.contact-card {
    display: flex;
    align-items: center;
    background-color: #222222;
    height: 60px;
    width: 50%;
    text-decoration: none;
}

.avatar {
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.avatar img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-info {
    height: 100%;
    width: 100%;
    border-bottom: #383838;
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
}

.contact-info h3 {
    font-size: 12.5px;
    font-weight: 400;
    color: #E1E3E6;
    margin-top: 7px;
    margin-left: 5px;
}

.contact-info p {
    font-size: 12px;
    color: #939393;
    margin-left: 5px;
    margin-bottom: 5px;
}

/* Медиа запросы для мобильных устройств */
@media (max-width: 768px) {
    .contact-card {
        width: 100%; /* На мобильных устройствах карточка будет занимать всю ширину */
    }
}

@media (max-width: 460px) {
    .contact-card {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .avatar img {
        width: 60px; /* Еще больше увеличим аватар на очень маленьких экранах */
        height: 60px;
    }

    .contact-info h3 {
        font-size: 16px; /* Увеличим шрифт на маленьких экранах */
    }

    .contact-info p {
        font-size: 14px; /* Увеличиваем размер текста на маленьких экранах */
    }
}
