body {
    background-color: #141414;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.site-header {
    width: 100%;
    height: 50px;
    background-color: #222222;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
}

header {
    position: relative;
}

.nav {
    padding: 10px 20px;
    border-radius: 15px;
    position: fixed;
    right: 0;
}

.nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    gap: 0 15px
}

.nav__link {
    text-decoration: none;
    color: #0095FF;
    position: relative;
    background: none;
    border: none;
}

.nav__link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -7px;
    background-color: #fff;
}

.nav__mobile-wrapper {
    display: none;
    height: 30px;
    width: 30px;
    transition: all .4s linear;
    cursor: pointer;
    position: relative;
}

.nav__mobile-target {
    height: 2px;
    width: 100%;
    background-color: #363853;
    position: relative;
    transition: all .2s linear;
}

.nav__mobile-wrapper.active .nav__mobile-target {
    transform: rotate(45deg)
}

.nav__mobile-target::after, .nav__mobile-target::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #363853;
}

.nav__mobile-target::after {
    top: -7px;
}

.nav__mobile-target::before {
    bottom: -7px;
}

.nav__mobile-wrapper.active .nav__mobile-target::after {
    display: none;
}

.nav__mobile-wrapper.active .nav__mobile-target::before {
    top: 0;
    transform: rotate(90deg);
}

.nav__mobile-menu {
    position: absolute;
    top: 40px;
    right: 0;
    flex-direction: column;
    gap: 15px 0;
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.nav__mobile-wrapper.active .nav__mobile-menu {
    display: flex;
}

@media (max-width: 545px) {
    .nav__wrapper {
        flex-direction: row-reverse;
    }

    .nav__links {
        display: none;
    }

    .nav__mobile-wrapper {
        display: flex;
        align-items: center;

    }
}